---
import Layout from '../layouts/Layout.astro';
import projects from "../../public/projects.json";
import ProjectCard from '../components/ProjectCard.astro';
---

<Layout title="Projects | Riddhiman Rana">
    <h1 class="text-5xl font-bold text-center my-8">Projects</h1>
    <div class="flex items-center mx-12">
    {projects.map(project => (
        <ProjectCard 
          name={project.project_name} 
          description={project.project_description} 
          link={project.project_link} 
          github={project.github_link} 
          image={project.project_image} 
        />
      ))}
      </div>
</Layout>