---
const { name, image, description, link, github} = Astro.props
import { Icon } from 'astro-icon/components';
---



<div class="m-6 bg-surface0 rounded-2xl transition-all duration-300 hover:cursor-pointer hover:scale-102 w-96 h-48 p-6 hover:shadow-lg hover:shadow-blue">
        <div class="flex items-center">
            <div class="bg-surface1 w-14 h-14 rounded-lg">
                <img src={image} class="w-14 h-14 rounded-full p-2" alt={name} />
            </div>
            <h2 class="text-2xl font-bold mb-2 text-text ml-4">{name}</h2>
        </div>
        <p class="mt-4 text-text">{description}</p>
        <div class="flex justify-between mt-4">
            <a href={link} class="bg-surface1 hover:bg-surface2 p-2 rounded-md transition-all duration-200 flex">
                <Icon class="mt-1 mx-1 scale-110 mr-2" name="fa-solid:link"></Icon>
                Project Link
            </a>
            <a href={github} class="bg-surface1 hover:bg-surface2 p-2 rounded-md transition-all duration-200">
                <Icon class="mt-1 mx-1 scale-125" name="fa-brands:github"></Icon>
            </a>
        </div>
        </div>
</div>